
 .c64 {
    border: 5mm solid #0088FF; /* screen: #0000AA, border and chars: #0088FF */
    background-color: #0000AA;
    color: #0088FF;
    text-align: justify;
    line-height: 1.3em;

    width: 30%;
    max-width: 900px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
 }

 .c64 li {
  list-style-type: none;
  font-family: "Roboto-Medium-webfont";
 }

 .c64:first-of-type li {
  text-indent: 20px;
}